<!DOCTYPE html>
<html lang="en">
  <%- include("./commun/head.ejs") %>
  <body>
    <%- include("./commun/nav.ejs") %>
    <div class="container">
      <p>This is the content of contact page</p>
    </div>
  </body>
</html>
