<nav>
  <div class="display-5">
    <h1><%= title %></h1>
  </div>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/services">Our Services</a></li>
    <li><a href="/contact">Contact us</a></li>
  </ul>
</nav>
